

<app-user-nav></app-user-nav>

<div class="back min-h-screen flex items-center justify-center p-4 sm:p-8">
    <div class="w-full sm:w-3/5 md:w-2/5 lg:w-1/3 xl:w-1/4 bg-[#1E1E1E] rounded-lg p-6 sm:p-8 space-y-4 relative">
        <div>
            <h2 class="text-sm font-normal text-white mb-0">Hola, to EvenDigo</h2>
            <p class="text-[#A4A4A4] text-xs">Log in now to make your event Awesome!</p>
            
            
        </div>

        <form class="space-y-4" >
            <div class="mb-0">
                <label class="text-[#A4A4A4] text-xs" for="email">Email*</label>
                <div class="relative">
                    <input type="email" id="email" formControlName="email" class="w-full bg-[#a4a4a441] rounded px-4 py-1 pl-8 text-white 
                               focus:outline-none focus:text-white focus:ring-1 
                               focus:ring-white text-xs placeholder-gray-300" autocomplete="username">

                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="absolute left-2 top-1/2 -translate-y-1/2 h-4 w-4 text-[#a4a4a441]" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                </div>
                <!-- @if(hasError('email','required')&& (registerForm.get('email')?.dirty ||
                registerForm.get('email')?.touched)){
                <p class="mt-1 text-center text-[10px] font-extralight text-red-500">Email is required</p>
                }@else if (hasError('email', 'fullSpaces')&&(registerForm.get('email')?.dirty ||
                registerForm.get('email')?.touched)) {
                <p class="mt-1 ml-5 text-[10px] font-extralight text-red-600">Email cannot contain spaces</p>
                }@else if (hasError('email','email')&&(registerForm.get('email')?.dirty ||
                registerForm.get('email')?.touched)) {
                <p class="mt-1 ml-5 text-[10px] font-extralight text-red-600">Please enter a valid email address</p>
                } -->
            </div>

            <div class="mb-4">
                <label class="text-[#A4A4A4] text-xs" for="password">Password*</label>
                <div class="relative">
                    <input type="password" id="password" formControlName="password" class="w-full bg-[#a4a4a441] rounded px-6 py-1 text-white focus:outline-none
                     focus:text-white focus:ring-1 focus:ring-white text-xs placeholder-gray-300"
                        autocomplete="new-password" />

                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="absolute left-2 top-1/2 -translate-y-1/2 h-4 w-4 text-[#a4a4a441]" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                </div>
                <!-- @if(hasError('password','required')&& (registerForm.get('password')?.dirty ||
                registerForm.get('password')?.touched)){
                <p class="mt-1 text-center text-[10px] font-extralight text-red-500">Password field is required</p>
                }@else if (hasError('password', 'strongPassword')&&(registerForm.get('password')?.dirty ||
                registerForm.get('password')?.touched)) {
                <p class="mt-1 ml-5 text-[10px] font-extralight text-red-600">Password must be at least 8 characters
                    long and include: an uppercase
                    letter, a lowercase letter, a number, and a special character.</p>
                } -->
            </div>
            <div class="flex justify-end">
                <button type="submit" [disabled]="true"
                    class="trn-link w-30 bg-[#a4a4a441] hover:bg-[#a4a4a408] text-white text-xs rounded-md py-1 flex items-center justify-center space-x-2">
                    <span>{{ false ? 'Loging...' : 'Continue' }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </button>
            </div>

            <div class="relative flex items-center justify-center">
                <div class="border-t border-[#a4a4a441] w-full"></div>
                <span class=" px-4 text-xs text-[#a4a4a4]">OR</span>
                <div class="border-t border-[#a4a4a441] w-full"></div>
            </div>


            <button
                class="w-full bg-[#f2f2f2] hover:bg-[#fff2f2] text-white rounded-md py-1 flex items-center justify-center space-x-2 text-xs">
                <img src="google-icon.png" alt="Google Icon" class="w-5 h-5">
                <span class="text-black">Continue with Google</span>
            </button>

            <div class="text-center">
                <a href="#" class="text-[#A4A4A4] hover:text-green-400 text-xs">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>


<app-user-footer></app-user-footer>